$primaryColor: #9356DC;
$secondaryColor: #FF79DA ;
$tertiaryColor: #99E2D0;

$background1: #e6e6e6;
$background2: #f2f2f2;

$shadow:  #cccccc;

/* fonts */

$textFont: 'Roboto', sans-serif;
$titlesFont: 'Shrikhand', cursive;


body {
    font-family: $textFont;
    margin: 0px;
    padding: 0px;
    
 }


 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        width: 50%;
        padding-right: 20%;
       
    }

    i {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
 }

 main {
    
    img {
        width: 100%;
        height: 60%;
    }

    #menu {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background-color: $background2;
        
        h1 {
            font: $titlesFont;
            font-size: xx-large;
        }

        #menutitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;

            i {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: xx-large;
            }
        }

        h5 { 
            font: $textFont;
            font-size: x-large;
            font-weight: lighter;
            text-decoration: underline;
            text-decoration-color: $tertiaryColor;
            text-decoration-style: solid;
            padding-left: 20px;
        }

        .menucard {
            width: 90%;
            padding: 10px;
            margin-left: 30px;
            margin-bottom: 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            box-shadow: 4px 4px 3px $shadow;

            .menuitem {
                font-weight: bolder;
                font-size: large;
            }

            .price {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-weight: bolder;
            }

        }




    }
 }