


$primaryColor: #9356dc;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$background1: #e6e6e6;
$background2: #f2f2f2;
$shadow:  #cccccc;
$textFont: 'Roboto', sans-serif;
$titlesFont: 'Shrikhand', cursive; 



body {
   font-family: $textFont;
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;

   .load {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px dashed #FF79DA;
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    animation: spinnerload 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
    
  .loadwrap {
    animation: spinner 5s;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
 }
  
  
@keyframes spinner {
    from {transform: rotate(0deg);}
     to {transform: rotate(360deg);}
  }

@keyframes spinnerload {
      from {border-color: #FF79DA;}
      to {border-color: transparent;}
    }

  .overlay {
    position: absolute;
    background-color: #f2f2f2;
    opacity: 80%;
    width: 100%;
    height: 200%;
    z-index: 1;
    animation-name: overlayload;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }
  
  @keyframes overlayload {
    from {transform:translateY(0);}
     to {transform: translateY(-100%);}
  }    

   



 header {

    #logoheader {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 20%;
        padding: 10px;
    }
    
    #location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        background-color: $background1;

        #locationdot {
            padding-top: 15px;
            padding-right: 15px;
        }

    }

    #booking {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $background2;
        padding-bottom: 50px;

        input {
            padding: 10px;
            width: 40%;
            border-radius: 15px;
            font-weight: bold;
            color: white;
            background-image: linear-gradient( to right, $secondaryColor, $primaryColor);
            border-style: none;
            box-shadow: 5px 5px 3px $shadow;
        }

        input:hover {
            opacity: 70%;
            box-shadow: 7px 7px 5px $shadow;
        }

    }

 }
 main {
#howitworks {

    display:flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-right: 60%;
    }


    .howcard {
        display: flex;
        flex-direction: row;
        background-color: $background2;
        width: 80%;
        margin-bottom: 5%;
        border-radius: 20px;

    i {
        display: flex;
        align-items: center;
        padding: 20px;
        color: #7f7987;
    }

        #p4, #p6, #p8 {
            color: white;
            background-color: $primaryColor;
            width: fit-content;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 20px;
            margin-left: -20px;
        }
    
        #p5, #p7, #p9 {
            font-size: larger;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding-left: 10px;
        }
    }

    .howcard:hover {
        background-color: #f1e4ff;
        
         i {
            color:$primaryColor;
        }
    }

    
}

#restaurants {

 
    background-color: $background2;
    padding-top: 20px;

    h2 {
        padding-left: 70px;
        padding-bottom: 20px;
    }


  .restimg {
    height: 300px;
    width: 80%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 4px 0px 4px #cccccc;
   }

   @media screen and (min-width: 768px) {

    .restimg {
        height: 400px;

    }
   }

   @media screen and (min-width: 992px) {

    .restimg {
        height: 500px;
        
    }
    h2 {
        padding-left: 100px;
    }

    .restcards {
        margin: 30px;
    }
   }

 .restcards {
    display: flex;
    flex-direction: column;
    align-items: center;
      
    h5 {
        font-size: larger;
        margin: 2px;
    }
 }

  .new {
    position: absolute;
    right: 15%;
    background-color: $tertiaryColor;
    color: #32b393;
    font-weight: bold;
    font-size: larger;
    padding: 5px;
  }

 .info {
    padding: 5px;
    min-width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px 4px $shadow;
    

    i {
        font-size: xx-large;
        position: absolute;
        animation-name: animationheart;
        animation-duration: 3s;
    }

  
       .fa-regular {
        color: grey;
      }
      
      .fa-solid {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient( to right, #FF79DA, #9356dc);
        z-index: -1;
        display: none;
        animation-name: animationheart;
        animation-duration: 1s;
    }

       .wrap {
        display: flex;
        align-items: center;
        padding-left: 70px;
       }
      
      .wrap:hover .fa-solid {
       display: block;
       z-index: 1;
       }
      
      
      @keyframes animationheart {
                  from {opacity: 0%;}
                  to {opacity: 100%;}
                }

    a {
        display: flex;
        flex-direction: column;
        min-width: 80%;
        text-decoration: unset;
        color: black;
    }

    .txt {
        display: flex;
        flex-direction: column;
        min-width: 80%;
    }
}

}
 }
  footer {
    background-color: rgb(44, 44, 44);
    padding-left: 20px;
    padding-bottom: 20px;

   h1 {
    font-family: $titlesFont;
    color: white;
   }

   p {
    color: white;
   }

  #suggest, #become {
    display: flex;
    flex-direction: row;

    i {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
       }
   }

   a {
    text-decoration: unset;
    color: white;
   }
  }

}